@import "./partials/reset.scss";
// @import "./partials/variables";
// @import "./partials/mixins";

// IMPORTAZIONE TRAMITE FILE -- errore in console , ma funziona
// @font-face {
//     font-family: 'Lato';
//     src: url('../assets/font/Lato/Lato-Regular.ttf');
// }
// body{
//     font-family: 'Lato', sans-serif;
// }

// IMPORTAZIONE TRAMITE URL
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 1100px;
    height: 100%;
    margin: 0 auto;
}