// $color 
$color_primary: #0181F9;
$color_light-primary: white;
$bg_light-primary: white;
$bttn_light-primary: white;
$txt_light-primary: white;
$txt_link: #797979;
$txt_link-header: #1C1C1C;
$bg_main-current--series: #1C1C1C;
// $height 
$height_header: 120px;
$height_foot-bottom: 100px;